# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Production builds
dist/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and System files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
